# Compose
RESTART_POLICY = "on-failure"
DOCKER_VOLUME_DIRECTORY = "."

# Postgres Business
POSTGRES_USER_BUSINESS = "user1"
POSTGRES_PASSWORD_BUSINESS = "password1"
POSTGRES_DB_BUSINESS = "database1"

# Postgres Chat
POSTGRES_USER_CHAT = "user2"
POSTGRES_PASSWORD_CHAT = "password2"
POSTGRES_DB_CHAT = "database2"

# Milvus ETCD
ETCD_AUTO_COMPACTION_MODE = "revision"
ETCD_AUTO_COMPACTION_RETENTION = 1000
ETCD_QUOTA_BACKEND_BYTES = 4294967296
ETCD_SNAPSHOT_COUNT = 50000

# Milvus MinIO
MINIO_ROOT_USER = "minioadmin"
MINIO_PASSWORD = "minioadmin"

# Milvus Standalone
MINIO_ACCESS_KEY_ID = "minioadmin"
MINIO_SECRET_ACCESS_KEY = "minioadmin"